body{
    background-color: #fffdef;
}

#header-box,#input-box,#auth-box{
    padding:5vw;
    border: 1px black solid;
    border-radius:5px;
}

#input-box{
    margin-bottom: 10px;
}

#header-box{
    padding : 15px;
    display:flex;
    flex-direction: column-reverse;
    gap: 15px;
}
#auth-box{
    margin-top:30vh;
    padding-top:30px;
    padding-bottom:40px;
}

.note-preview{
    border-radius:5px;
    font-size: 100%;
    padding: 10px;
    background-color: #f5f5f5;
}

textarea{
    display:block;
    resize:none;
    width: 100%;
}
input{
    width: 70%;
}
label{
    font-size: 100%;
}
#buttons-div{
    margin-top: 5px;
    display:flex;
    gap:130px;
}


#note-view{
    display:none;
}
#note-display-div{
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    padding-top: 30px;
    margin-bottom: 10px;
    
}
#note-head{
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 50px;
}
